In [34]:
import pandas as pd

In [35]:
import seaborn as sns

In [36]:
df1=pd.read_csv('AW_Products.csv')

In [37]:
df1.head()

,ModelName,ProductColor,ProductCost,ProductDescription,ProductsKey,ProductName,ProductPrice,ProductSize,ProductSKU,ProductStyle,SubcategoryName,CategoryName
0,All-Purpose Bike Stand,NaN,59.4660,Perfect all-purpose bike stand for working on ...,486,All-Purpose Bike Stand,159.00,0,ST-1401,0,Bike Stands,Accessories
1,Bike Wash,NaN,2.9733,Washes off the toughest road grime; dissolves ...,484,Bike Wash - Dissolver,7.95,0,CL-9009,0,Cleaners,Accessories
2,Cable Lock,NaN,10.3125,"Wraps to fit front and rear tires, carrier and...",447,Cable Lock,25.00,0,LO-C100,0,Locks,Accessories
3,Chain,Silver,8.9866,Superior shifting performance.,559,Chain,20.24,0,CH-0234,0,Chains,Components
4,Classic Vest,Blue,23.7490,"Light-weight, wind-resistant, packs to fit int...",471,"Classic Vest, S",63.50,S,VE-C304-S,U,Vests,Clothing

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ModelName           293 non-null    object
 1   ProductColor        243 non-null    object
 2   ProductCost         293 non-null    float64
 3   ProductDescription  293 non-null    object
 4   ProductsKey         293 non-null    int64
 5   ProductName         293 non-null    object
 6   ProductPrice        293 non-null    float64
 7   ProductSize         293 non-null    object
 8   ProductSKU          293 non-null    object
 9   ProductStyle        293 non-null    object
 10  SubcategoryName     293 non-null    object
 11  CategoryName        293 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 27.6+ KB

In [39]:
df1.describe()

       ProductCost  ProductsKey  ProductPrice
count   293.000000   293.000000    293.000000
mean    413.661009   441.552901    714.437357
std     517.611849   108.064327    872.157258
min       0.856500   214.000000      2.290000
25%      31.724400   354.000000     63.500000
50%     199.375700   457.000000    333.420000
75%     601.743700   533.000000   1003.910000
max    2171.294200   606.000000   3578.270000

In [40]:
df1.isnull().sum()

ModelName              0
ProductColor          50
ProductCost            0
ProductDescription     0
ProductsKey            0
ProductName            0
ProductPrice           0
ProductSize            0
ProductSKU             0
ProductStyle           0
SubcategoryName        0
CategoryName           0
dtype: int64

In [41]:
df1.drop(columns='ProductColor',inplace=True)

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ModelName           293 non-null    object
 1   ProductCost         293 non-null    float64
 2   ProductDescription  293 non-null    object
 3   ProductsKey         293 non-null    int64
 4   ProductName         293 non-null    object
 5   ProductPrice        293 non-null    float64
 6   ProductSize         293 non-null    object
 7   ProductSKU          293 non-null    object
 8   ProductStyle        293 non-null    object
 9   SubcategoryName     293 non-null    object
 10  CategoryName        293 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 25.3+ KB

In [43]:
df2=pd.read_csv('AW_Sales.csv')

In [44]:
df2.head()

,OrderDate,StockDate,OrderNumber,ProductKeys,CustomerKeys,TerritoryKeys,OrderLineItem,OrderQuantity
0,01-01-2015,21-09-2001,SO45080,332,14657,1,1,1
1,01-01-2015,05-12-2001,SO45079,312,29255,4,1,1
2,01-01-2015,29-10-2001,SO45082,350,11455,9,1,1
3,01-01-2015,16-11-2001,SO45081,338,26782,6,1,1
4,02-01-2015,15-12-2001,SO45083,312,14947,10,1,1

In [45]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56046 entries, 0 to 56045
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      56046 non-null  object
 1   StockDate      56046 non-null  object
 2   OrderNumber    56046 non-null  object
 3   ProductKeys    56046 non-null  int64
 4   CustomerKeys   56046 non-null  int64
 5   TerritoryKeys  56046 non-null  int64
 6   OrderLineItem  56046 non-null  int64
 7   OrderQuantity  56046 non-null  int64
dtypes: int64(5), object(3)
memory usage: 3.4+ MB

In [46]:
df2.isnull().sum()

OrderDate        0
StockDate        0
OrderNumber      0
ProductKeys      0
CustomerKeys     0
TerritoryKeys    0
OrderLineItem    0
OrderQuantity    0
dtype: int64